<footer class="footer">
	<h2 class="footer-callout">Get in touch.</h2>
	<div class="big-links">
	  <a href="#" target="_blank">Figma Tools</a>
	  <a href="#" target="_blank">Twitter</a>
	  <a href="#" target="_blank">Instagram</a>
	  <a href="#" target="_blank">Medium</a>
	  <a href="#" target="_blank">Glitch</a>
	  <a href="#" target="_blank">Flickr</a>
	</div>
	<div class="blogs">
	  <p class="small">Find me on these blogs</p>
	  <div class="blogs-wrap">
		<a href="#" target="_blank"
		  >Why you should keep making stuff by hand – IDEO Blog</a
		>
		<a href="#" target="_blank"
		  >Artistry Matters Even for a Nametag – IDEO Labs</a
		>
		<a href="#" target="_blank"
		  >How We Turned an Old Gas Station into a Community Hot Spot – IDEO
		  Blog</a
		>
		<a href="#" target="_blank"
		  >Drag Queens in the Backyard Playing Bingo – The Bitter
		  Southerner</a
		>
		<a href="#" target="_blank"
		  >From Fungal Networks to Connected Businesses – IDEO CoLab Medium
		  Publication</a
		>
		<a href="#" target="_blank"
		  >Why designers need to start thinking about blockchain technology
		  – IDEO Blog</a
		>
		<a href="#" target="_blank"
		  >Get Inspired by these Designer's Side Gigs – IDEO Blog</a
		>
		<a href="#" target="_blank"
		  >Retirement Planning for the Gig Economist – IDEO CoLab Medium
		  Publication</a
		>
		<a href="#" target="_blank"
		  >Cultures & Collectives, Digital Nomads – IDEO CoLab Medium
		  Publication</a
		>
	  </div>
	</div>
  </footer>
